@model SigoWeb.Models.EmpresaModel

@{
    ViewBag.Title = "Empresa";
    ViewBag.SubTitle = "Criar nova empresa";
}

<div style="margin-bottom: 50px">
    <h3>@ViewBag.Title</h3>
    <span>@ViewBag.SubTitle</span>
</div>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                @Html.LabelFor(model => model.NomeFantasia, new { @class = "required" })
                @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeFantasia, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                @Html.LabelFor(model => model.RazaoSocial, new { @class = "required" })
                @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                @Html.LabelFor(model => model.CNPJ, new { @class = "required" })
                @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CNPJ, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                @Html.LabelFor(model => model.Ativa, new { @class = "required" })
                @Html.CheckBoxFor(model => model.Ativa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ativa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-footer beguede-btn-right">
            <button onclick="location.href='@Url.Action("Index")'" type="button" class="btn btn-secondary"> Cancelar </button>
            <button type="submit" class="btn btn-primary"> Inserir </button>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function ($) {

        });

    </script>
}